<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/oauth2-client"
            class="com.github.lhervier.domino.oauth.client.OauthClientServlet"
            load-on-startup="true">
         <init-param
               name="contextConfigLocation"
               value="com.github.lhervier.domino.oauth.client.OauthClientConfig">
         </init-param>
         <init-param
               name="contextClass"
               value="org.springframework.web.context.support.AnnotationConfigWebApplicationContext">
         </init-param>
      </servlet>
   </extension>
   <extension
         point="com.github.lhervier.domino.spring.propertysources">
      <property-source
            class="com.github.lhervier.domino.oauth.client.Oauth2ClientDbPropertySource">
      </property-source>
   </extension>
</plugin>
