<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/oauth2-server"
            class="com.github.lhervier.domino.oauth.server.OauthServerServlet"
            load-on-startup="true">
         <init-param
               name="contextConfigLocation"
               value="com.github.lhervier.domino.oauth.server.OauthServerConfig">
         </init-param>
         <init-param
               name="contextClass"
               value="org.springframework.web.context.support.AnnotationConfigWebApplicationContext">
         </init-param>
         <init-param
         		name="dispatchOptionsRequest"
         		value="true">
         </init-param>
      </servlet>
   </extension>
   <extension
         point="com.github.lhervier.domino.spring.propertysources">
      <property-source
            class="com.github.lhervier.domino.oauth.server.OAuth2ServerDbPropertySource">
      </property-source>
   </extension>

</plugin>
