<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.github.lhervier.domino.oauth.library.server.scope" name="Scope" schema="schema/com.github.lhervier.domino.oauth.library.server.scope.exsd"/>
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="com.github.lhervier.domino.oauth.library.server.OauthServerLibrary"
            type="com.ibm.xsp.Library">
      </service>
   </extension>

</plugin>
